@model Practica.Web.ViewModel.CursosViewModel
@section Stylesheets {
    <script src="~/lib/jquery-pagination/table-pagination.js"></script>
    <script src="~/limonte-sweetalert2/sweetalert2.all.js"></script>
    <script src="~/limonte-sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/limonte-sweetalert2/sweetalert2.js"></script>
    <script src="~/limonte-sweetalert2/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="~/css/Cursos.css" asp-append-version="true" />
    <link href="~/limonte-sweetalert2/sweetalert2.css" rel="stylesheet" />
    <link href="~/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />
}
<div class="formulario">
    <div>
        <h1>Cursos</h1>
    </div>
    <div>
        <form id="idsubmit-form-cursos" action="" method="POST">
            <div class="my-5">
                <table class="mx-auto">
                    <tr>
                        @*<td>Curso Id:</td>
                        <td><input type="text" id="idcursoId" name="cursoid" maxlength="8"></td>
                        <td class="espaciado"></td>
                        <td>Nombre:</td>
                        <td><input type="text" id="idcursoNombre" name="nombre" maxlength="50"></td>*@
                        <td>
                            @(Html.Kendo().TextBox()
                                .Name("cursoId")
                                .Label(l => l.Content("Curso Id").Floating(true))
                                .HtmlAttributes(new { style = "width: 80px" })
                                )
                        </td>
                        <td>
                            @(Html.Kendo().TextBox()
                                .Name("nombre")
                                .Label(l => l.Content("Nombre").Floating(true))
                                )
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <a class="btnSubmit btn" asp-controller="Cursos" asp-action="Index">Limpiar</a>
                <button type="submit" class="btnSubmit btn">Buscar</button>
            </div>
        </form>
    </div>
</div>
<div id="refreshDiv">
    <table id="idTablaCursos" class="tabla my-5">
        <tr>
            <th class="col-cursoId">Curso Id</th>
            <th class="col-nombre">Nombre</th>
        </tr>
        @foreach (var curso in Model.Cursos)
        {
            <tr onclick="getCursos(@curso.CursoId)">
                <td class="col-cursoId"><a href="#" onclick='MostrarModalDetalles(@Html.Raw(Json.Serialize(curso)))'>@curso.CursoId</a></td>
                <td class="col-nombre">@curso.Nombre</td>
            </tr>
        }
    </table>
</div>
<div id="gridDiv" class="mx-auto">
    @(
        Html.Kendo().Grid<Curso>(Model.Cursos)
        .Name("gridCurso")
        .Columns(columns =>
        {
            columns.Bound(o => o.CursoId).Width(100).Title("Curso Id");
            columns.Bound(o => o.Nombre).Width(200).Title("Nombre");
        })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(5)
            .Model(model =>
            {
                model.Field(p => p.CursoId);
                model.Field(p => p.Nombre);
            })
        )
        .Selectable()
        .Pageable()
        )
</div>
<div class="formulario">
    <div class="container-fluid">
        <div class="row tabla my-3">
            <div class="col-3 mx-auto">
                <button class="btn btnAgregar" onclick="MostrarModalAñadir()">
                    <img src="~/images/addIcon.svg" alt="Add Icon" />
                    Agregar
                </button>
            </div>
            <div class="col-3 mx-auto">
                <button class="btn btnActualizar" onclick="ObtenerCursoActualizarModal('Actualizar')">
                    <img src="~/images/syncIcon.svg" alt="Update Icon" />
                    Actualizar
                </button>
            </div>
            <div class="col-3 mx-auto">
                <button class="btn btnEliminar" onclick="ObtenerCursoActualizarModal('Eliminar')">
                    <img src="~/images/deleteIcon.svg" alt="Delete Icon" />
                    Borrar
                </button>
            </div>

        </div>
    </div>
    @*<form id="idajax-form-cursos">
    <div class="my-5">
    <table class="mx-auto">
    <tr>
    <td>Curso Id:</td>
    <td><input type="text" id="idcursoModId" name="nmcursoModId" maxlength="8" value=""></td>
    <td class="espaciado"></td>
    <td>Nombre:</td>
    <td><input type="text" id="idcursoModNombre" name="nmcursoModNombre" maxlength="50" value=""></td>
    </tr>
    </table>
    </div>
    </form>*@
</div>
@* ---- MODAL ---- *@
<div id="idModalCursos" class="visually-hidden">
    <div id="idNavbarModalCursos">
        <table>
            <tr>
                <td>
                    <h3></h3>
                </td>
                <td>
                    <button id="idCloseBtnModalCursos" onclick="OcultarModalCursos()">X</button>
                </td>
            </tr>
        </table>
    </div>
    @* <div id="idModalCursosContent" class="modal-content-class">
    <form id="idModalCursosContentForm">
    <table>
    <tr>
    <td>Curso Id:</td>
    <td><input type="text" id="idModalIdCursos" name="nmModalIdCursos"></td>
    </tr>
    <tr>
    <td>Nombre:</td>
    <td><input type="text" id="idModalNombreCursos" name="nmModalNombreCursos"></td>
    </tr>
    <tr>
    <td colspan="2">
    <div id="idModalCursosButtonAñadir" onclick="PostCurso()" class="boton-modal-class btn visually-hidden">Guardar</div>
    </td>
    </tr>
    <tr>
    <td colspan="2">
    <div id="idModalCursosButtonActualizar" onclick="UpdateCurso()" class="boton-modal-class btn visually-hidden">Actualizar</div>
    </td>
    </tr>
    </table>
    </form>
    </div>*@
    <div id="idModalCursosContent" class="modal-content-class">
        <partial name="../Shared/_ModalFormCursos.cshtml" />
        <table>
            <tr>
                <td colspan="2">
                    <div id="idModalCursosButtonAñadir" onclick="PostCurso()" class="boton-modal-class btn visually-hidden">Guardar</div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="idModalCursosButtonActualizar" onclick="UpdateCurso()" class="boton-modal-class btn visually-hidden">Actualizar</div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="modal-overlay" onclick="OcultarModalCursos()" class="visually-hidden"></div>

<script>
    $("#idsubmit-form-cursos").validate({
        rules: {
            cursoid: {
                number: true,
            }
        },
        messages: {
            cursoid: "Solo se permiten números"
        }
    });

    function MostrarModalDetalles(curso) {
        var modal = document.getElementById("idModalCursos");
        var botonGuardar = document.getElementById("idModalCursosButtonAñadir");
        var botonActualizar = document.getElementById("idModalCursosButtonActualizar");
        var modalContent = document.getElementById("idModalCursosContent");
        var overlay = document.getElementById("modal-overlay");
        var navBarModal = document.getElementById('idNavbarModalCursos');
        var titulo = navBarModal.getElementsByTagName('h3');

        titulo[0].innerHTML = 'Detalles del curso';

        modal.classList.remove("visually-hidden");
        overlay.classList.remove("visually-hidden");
        botonGuardar.classList.add("visually-hidden");
        botonActualizar.classList.add("visually-hidden");


        modalContent.classList.remove('formulario-modal-añadir');
        modalContent.classList.add('formulario-modal-detalles');

        $('#idModalIdCursos').val(curso.cursoId);
        $('#idModalNombreCursos').val(curso.nombre);

    }

    function MostrarModalAñadir() {
        var modal = document.getElementById("idModalCursos");
        var modalContent = document.getElementById("idModalCursosContent");
        var botonGuardar = document.getElementById("idModalCursosButtonAñadir");
        var botonActualizar = document.getElementById("idModalCursosButtonActualizar");
        var overlay = document.getElementById("modal-overlay");
        var navBarModal = document.getElementById('idNavbarModalCursos');
        var titulo = navBarModal.getElementsByTagName('h3');

        titulo[0].innerHTML = 'Añadir curso';

        modal.classList.remove("visually-hidden");
        overlay.classList.remove("visually-hidden");
        botonGuardar.classList.remove("visually-hidden");
        botonActualizar.classList.add("visually-hidden");

        modalContent.classList.remove('formulario-modal-detalles');
        modalContent.classList.add('formulario-modal-añadir');

        $('#idModalIdCursos').val('');
        $('#idModalNombreCursos').val('');
    }
    function MostrarModalActualizar(curso) {
        var modal = document.getElementById("idModalCursos");
        var modalContent = document.getElementById("idModalCursosContent");
        var botonGuardar = document.getElementById("idModalCursosButtonAñadir");
        var botonActualizar = document.getElementById("idModalCursosButtonActualizar");
        var overlay = document.getElementById("modal-overlay");
        var navBarModal = document.getElementById('idNavbarModalCursos');
        var titulo = navBarModal.getElementsByTagName('h3');

        titulo[0].innerHTML = 'Actualizar curso';

        modal.classList.remove("visually-hidden");
        overlay.classList.remove("visually-hidden");
        botonGuardar.classList.add("visually-hidden");
        botonActualizar.classList.remove("visually-hidden");

        modalContent.classList.remove('formulario-modal-detalles');
        modalContent.classList.add('formulario-modal-añadir');

        $('#idModalIdCursos').val(curso.cursoId);
        $('#idModalNombreCursos').val(curso.nombre);
    }
    function ObtenerCursoActualizarModal(accion) {
        var table = document.getElementById("idTablaCursos");
        var rows = table.getElementsByTagName("tr");
        var selectedRowEncontrada = false;
        for (var i = 0; i < rows.length; i++) {
            if (rows[i].classList.contains('selected')) {
                selectedRowEncontrada = true;
                var cursoId = rows[i].getElementsByTagName('a')[0].innerText;
                var nombreCurso = rows[i].getElementsByClassName('col-nombre')[0].innerText;
                if (accion == 'Actualizar') {
                    $.ajax({
                        type: "GET",
                        url: `https://localhost:7280/api/Cursos/id/${cursoId}`,
                        dataType: "json",
                        success: function (response) {
                            MostrarModalActualizar(response);
                        },
                        fail: function (response) {
                            console.log(response);
                        },
                        error: function (jqXHR, textStatus, errorThrow) {
                            console.log(jqXHR.responseText)
                        }
                    });
                }
                else if (accion == 'Eliminar') {

                    Swal.fire({
                        title: `¿Quieres eliminar el curso ${nombreCurso}?`,
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Eliminar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            DeleteCurso(cursoId);
                        }
                    })
                }
                break;
            }
        }
        if (!selectedRowEncontrada) {
            Swal.fire({
                icon: 'error',
                title: 'Selecciona un curso',
            });
        }
    }

    function OcultarModalCursos() {
        var modal = document.getElementById("idModalCursos");
        var overlay = document.getElementById("modal-overlay");
        var botonGuardar = document.getElementById("idModalCursosButtonAñadir");
        var botonActualizar = document.getElementById("idModalCursosButtonActualizar");

        modal.classList.add("visually-hidden");
        overlay.classList.add("visually-hidden");
        botonGuardar.classList.add("visually-hidden");
        botonActualizar.classList.add("visually-hidden");
    }

    function ModifyTableCursos() {
        $('#idTablaCursos').createTablePagination({
            rowPerPage: 10,
        });
        var table = document.getElementById("idTablaCursos");
        var rows = table.getElementsByTagName("tr");
        for (var i = 0; i < rows.length; i++) {
            rows[i].addEventListener("mouseover", function () {
                this.classList.add("highlight");
            });
            rows[i].addEventListener("mouseout", function () {
                this.classList.remove("highlight");
            });
            rows[i].addEventListener("click", function () {
                for (var j = 0; j < rows.length; j++) {
                    rows[j].classList.remove("selected");
                }
                this.classList.add("selected");
            });

        }
    };
    $(ModifyTableCursos());

    //$(function () {
    //    var table = document.getElementById("idTablaCursos");
    //    var rows = table.getElementsByTagName("tr");
    //    for (var i = 0; i < rows.length; i++) {
    //        rows[i].addEventListener("mouseover", function () {
    //            this.classList.add("highlight");
    //        });
    //        rows[i].addEventListener("mouseout", function () {
    //            this.classList.remove("highlight");
    //        });
    //        rows[i].addEventListener("click", function () {
    //            for (var j = 0; j < rows.length; j++) {
    //                rows[j].classList.remove("selected");
    //            }
    //            this.classList.add("selected");
    //        });

    //    }
    //});

    $("#idModalCursosContentForm").validate({
        rules: {
            nmModalNombreCursos: {
                required: true,
                minlength: 5
            }
        },
        messages: {
            nmModalNombreCursos: {
                required: "Añade el nombre del curso",
                minlength: "Al menos debe tener 5 caracteres",
            }
        }
    });
    class CursoDTO {
        constructor(CursoId, Nombre) {
            this.CursoId = CursoId;
            this.Nombre = Nombre;
        }
    }
    function getCursos(cursoId) {
        $.ajax({
            type: "GET",
            url: `https://localhost:7280/api/Cursos/id/${cursoId}`,
            dataType: "json",
            success: function (response) {
                copiarCurso(response);
            },
            fail: function (response) {
                console.log(failMessage);
            },
            error: function (jqXHR, textStatus, errorThrow) {
                console.log(errorThrow);
            }
        });
    }
    function copiarCurso(curso) {
        $('#idcursoModId').val(curso.cursoId);
        $('#idcursoModNombre').val(curso.nombre);
    }
    function PostCurso() {
        if ($("#idModalCursosContentForm").validate().form()) {
            // Primero creo el objeto Curso con los datos del input text
            const cursoDTO = { CursoId: 0, Nombre: $('#idModalNombreCursos').val() }  // el valor cursoId = 0 es necesario para que el controlador lo trate como null
            // y pueda realizar el post creando un nuevo cursoId automático tal y como fue
            $.ajax({                                                        // creada la base de datos.
                type: "POST",
                url: "https://localhost:7280/api/Cursos",
                dataType: "json",
                data: JSON.stringify(cursoDTO),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    Swal.fire({
                        icon: 'success',
                        title: `El curso ${cursoDTO.Nombre} ha sido creado`
                    });
                    $("#refreshDiv").load(location.href + " #refreshDiv", function () {
                        ModifyTableCursos();
                    });
                    OcultarModalCursos();
                },
                fail: function (response) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: `¡La solicitud ha fallado!`
                    });
                    OcultarModalCursos();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops ha habido un error...',
                        text: `Error message: ${jqXHR.responseText}`
                    });
                    OcultarModalCursos();
                }
            });
        }
        else {
            Swal.fire({
                icon: 'error',
                title: 'Introduce correctamente los campos del curso',
            });
        }
    };
    function UpdateCurso() {
        if ($("#idModalCursosContentForm").validate().form()) {
            const cursoDTO = { CursoId: parseInt($('#idModalIdCursos').val()), Nombre: $('#idModalNombreCursos').val() }
            $.ajax({
                type: "PUT",
                url: `https://localhost:7280/api/Cursos/${cursoDTO.CursoId}`,
                dataType: "json",
                data: JSON.stringify(cursoDTO),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    Swal.fire({
                        icon: 'success',
                        title: `El curso ha sido actualizado`
                    });
                    $("#refreshDiv").load(location.href + " #refreshDiv", function () {
                        ModifyTableCursos();
                    });
                    OcultarModalCursos();
                },
                fail: function (response) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: `!Ha fallado la solicitud!`
                    });
                    OcultarModalCursos();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops ha habido un error...',
                        text: `Error message: ${jqXHR.responseText}`
                    });
                    OcultarModalCursos();
                }
            });
        }
        else {
            Swal.fire({
                icon: 'error',
                title: 'Introduce correctamente los campos del curso',
            });
        }
    }
    function DeleteCurso(cursoId) {
        $.ajax({
            type: "DELETE",
            url: `https://localhost:7280/api/Cursos/${cursoId}`,
            dataType: "json",
            data: { id: cursoId },
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                Swal.fire({
                    icon: 'success',
                    title: `El curso ha sido borrado`
                });
                $("#refreshDiv").load(location.href + " #refreshDiv", function () {
                    ModifyTableCursos();
                });
                OcultarModalCursos();
            },
            fail: function (response) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: `¡El curso no existe!`
                });
                OcultarModalCursos();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops ha habido un error...',
                    text: `Error message: No se pueden eliminar cursos donde haya alumnos inscritos.`
                });
                OcultarModalCursos();
            }
        });
    }
                                                            //function ClearForm() {
                                                            //    $('#idcursoModId').val('');
                                                            //    $('#idcursoModNombre').val('');
                                                            //}
</script>
